<!DOCTYPE html>
<html lang="ja">
    <head>
        <title>blogRead pages</title>
        <%- include("./head"); %>
    </head>
    <body>
        <%- include("./header"); %>
        <main>
            <h1>TITLE</h1>
            <p>Contents</p>
        <div>
            <h1><%=singleBlog.title%></h1>
            <img src="/public/images<%= singleBlog.image %>" alt="blog-image">
            <p><%=singleBlog.textBody%></p>
        </div>
        </main>
        <%- include("./footer"); %>
    </body>
</html>
